@import url('https://fonts.googleapis.com/css?family=Orbitron');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("pattern.png");
}

.main {
    background-color: #ccc;
    width: 400px;
    margin: 220px auto;
    height: 175px;
    position: relative;
    padding: 30px;
    box-shadow: 10px 10px 5px      ;
}

.badge {
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 96px;
    position: absolute;
    top: -15px;
    left: 40%;
}

.clock {
    background-color: #ebebeb;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px; 
    font-family: Orbitron;
    border-radius: 4px;
}